<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% for x in img %}
<div class="container">
  <h2>Card Image</h2>
  <div class="card" style="width:400px">
    <img class="card-img-top" src="{{ x.image.url }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{x.name}}</h4>
      <p class="card-text">{{x.name}} is a good person.</p>
      <a href="#" class="btn btn-primary">{{x.name}}</a>
    </div>
  </div>
  {% endfor %}
</body>
</html>
