<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<h1>Nature</h1>
<p>The beauty and richness of nature is diverse and massive. Nature provides us with several delicacies to enjoy and is our life support system. Our basic needs like food, shelter, water and air are all the gifts from nature. Humans have a strong connection and interrelation with nature.</p>

<img src = "{% static 'img_1.png'%}"> <img src = "{% static 'img.png'%}">

</body>
</html>
